body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;

 }
h3{
   text-align: center;
}

.navbar-container {
   display: block;
   margin: 40px; 
}

.navbar-cont {
   display: block;
   margin-left: 10%; 
   margin-top: 150px;
    
}

.main
 {
   display: flex;
   align-items: flex-start;
 }
 .navbar-vertical {
    width: 200px;
    background-color: white;
    border: 2px solid #ccc;
    margin: 20px;
    padding: 15px;
 }
 
 .navbar-vertical a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
    background-color: #e0f7fa;  
    color: #0000ff;  
 }
 
 .navbar-vertical a:hover {
    background-color: #ddd;
 }
 
 .navbar-vertical a.active {
    background-color: #ffa500;  
    color: white;
 }
 
 
 .navbar-horizontal {
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    margin: 20px;
    padding:15px;
    width: 450px;
 }
 
 .navbar-horizontal a {
    flex: 1;
    
    color: #000;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    background-color: #e0f7fa;  
    color: #0000ff;  
    border-right: 1px solid #ccc;
 }
 
 .navbar-horizontal a:last-child {
    border-right: none;
 }
 
 .navbar-horizontal a:hover {
    background-color: #ddd;
 }
 
 .navbar-horizontal a.active {
    background-color: #888;  
    color: white;
 }
