td
{
    border-radius: 20px;
    width: 200px;
}
         
.table1
{   
    margin:auto; 
    margin-top: 50px;  
    width: 85%;
    background-color: aquamarine;  
            
}
.table2
{
    margin: auto;     
}
        
        