table  {
    border-collapse: collapse;
    border: 0px solid black;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    
}

td{
    width: 250px;
    height: 25px;
    padding: 8px;
   
}
th{
    text-align: left;
    height: 25px;
    padding: 8px;
    background: green;
    color: white;
     
}
tr:nth-child(even) 
{background-color: #f2f2f2;}
    